openapi: 3.0.3
info:
  title: Online Scout Manager API (Unofficial)
  version: 0.2.1
  description: |
    Unofficial, community-driven OpenAPI specification for the
    [Online Scout Manager](https://www.onlinescoutmanager.co.uk) (OSM) API —
    reverse-engineered from real traffic by the City of Newcastle Scouts Digital Team.

    OSM does not publish a public API specification. This project exists to fill
    that gap for developers building tools on top of OSM's platform.

    > **This documentation is provided as-is with no guarantees.** OSM's API is
    > undocumented and can change without notice. Endpoints, parameters, and
    > response shapes described here were observed at the time of writing and may
    > drift over time. Always test against the live API before relying on
    > anything here.

    ## Authentication

    OSM uses **OAuth 2.0 (Authorization Code)** for API access. To get started:

    1. Log in to OSM and navigate to **Settings → My Account Details → Developer Tools**.
    2. Create an OAuth application to obtain your `client_id` and `client_secret`.
    3. Implement the standard OAuth 2.0 authorization code flow — redirect users to
       OSM's authorization endpoint, exchange the code for tokens via `/oauth/token`.
    4. Include the access token as a **Bearer token** in the `Authorization` header
       on every API request.
    5. Tokens expire — use the refresh token flow to obtain new access tokens.

    ## Using the API

    Your browser uses a simple API for interacting with OSM, so although the API
    is unsupported and undocumented, your application can do anything that you can
    do on the website.

    Use your browser's developer console to watch the network requests made when
    you perform the actions you want to automate. Pay particular attention to
    whether requests are **GET** or **POST**. Then use your OAuth client library
    to create an authenticated request to the URL you discovered (which sets a
    Bearer token in the Authorization header).

    **Important:** All POST requests must use `application/x-www-form-urlencoded`
    encoding, **not** JSON. Sending JSON bodies will result in your application
    being blocked.

    ## Rate limits

    Please monitor the standard rate limit headers to ensure your application
    does not get blocked automatically. Applications that are frequently blocked
    will be **permanently blocked**.

    | Header | Description |
    |--------|-------------|
    | `X-RateLimit-Limit` | Number of requests per hour your API can perform (per authenticated user) |
    | `X-RateLimit-Remaining` | Requests remaining before the current user is blocked |
    | `X-RateLimit-Reset` | Seconds until the rate limit resets back to the overall limit |

    An **HTTP 429** status code is returned if the user exceeds the limit, along
    with a `Retry-After` header indicating the number of seconds to wait.

    Please also enforce your own lower rate limits, especially if you allow
    unauthenticated users to manipulate your data (e.g. allowing members to join
    a waiting list).

    ## Other considerations

    - **Check responses** — abort if they are not as expected. Your application
      will be blocked if it frequently performs invalid requests.
    - **`X-Deprecated` header** — anything with this header will be removed after
      the date mentioned. Monitor for it.
    - **`X-Blocked` header** — if set, your application has been blocked due to
      invalid data or unauthorized access attempts. Continuing to use the API
      after being blocked will automatically escalate to a **permanent block**.
    - **Bot protection** — if you allow unauthenticated use of your application,
      verify users are not bots.
    - **Input validation** — always sanitise and validate data before sending it
      to OSM. Invalid data will result in your application being blocked.
    - **Privacy and GDPR** — these endpoints return personal data about young
      people and their families. Handle it responsibly. Don't store what you
      don't need, don't log PII, and follow your organisation's data protection
      policies.
servers:
  - url: https://www.onlinescoutmanager.co.uk
  - url: https://onlinescoutmanager.co.uk
security:
  - oauth2: [ ]
tags:
  - name: Startup
    description: Session bootstrap and general metadata.
  - name: Members
    description: Member lists, details, patrols, and census.
  - name: Attendance
    description: Member attendance and badge requirements.
  - name: Custom Data
    description: Custom data groups and updates.
  - name: Email
    description: Member contact email selection and templates.
  - name: Programme
    description: Programme summaries, meetings, and attachments.
  - name: Badges
    description: Badge-related programme metadata.
  - name: Dashboard
    description: Dashboard summaries and next things.
  - name: Risk Assessments
    description: Programme risk assessment categories.
paths:
  /ext/generic/startup/:
    get:
      summary: Get startup data
      tags:
        - Startup
      description: |
        Returns startup and session data depending on the `action` parameter.

        **`action=getData` has been permanently removed** — this action was removed without
        notice. HTTP 410 Gone is the only response you will ever receive for this action.
        It will not be reinstated. Migrate to `action=getDataPayload`.

        **`action=getDataPayload`** returns a JSON payload containing CDN resource URLs,
        user globals, section roles and permissions, user preferences, terms, and session
        metadata needed to bootstrap the application after login.

        **`action=getConfigPayload`** returns global, non-user-specific site configuration:
        section type definitions, patrol role labels, beta features, upgrade pricing, feature
        flags, recipe metadata, and form configurations.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [getData, getDataPayload, getConfigPayload]
          description: |
            `getData` — **permanently removed**, HTTP 410 Gone is the only reply.
            `getDataPayload` — returns the full JSON startup payload.
            `getConfigPayload` — returns global site configuration.
      responses:
        "200":
          description: JSON startup payload (schema varies by `action`; see examples).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/StartupDataPayload"
                  - $ref: "#/components/schemas/StartupConfigPayload"
              examples:
                getDataPayload:
                  summary: Response for action=getDataPayload
                  value:
                    status: true
                    error: null
                    data:
                      cdn: "https://oymcdn.co.uk/"
                      resources:
                        - "/built/postlogin-combined/postlogin-combined-abc123.js"
                        - "/built/global/global-abc123.js"
                        - "/built/style-main-blue/style-main-blue-abc123.css"
                        - "/built/highcharts/highcharts-abc123.js"
                        - "/built/vendors/vendors-abc123.js"
                        - "/built/runtime/runtime-abc123.js"
                        - "/built/menu/menu-abc123.js"
                      config_hash: "abc123def456abc123def456abc123de"
                      required_cdn_built_files:
                        osm.js: "https://oymcdn.co.uk/built/osm/osm-abc123.js"
                        react.js: "https://oymcdn.co.uk/built/react/react-abc123.js"
                      cache_bust: "v=abc123"
                      globals:
                        post_login_action: false
                        theme: "blue"
                        userid: 100001
                        roles:
                          - groupname: "Example Scout Group"
                            groupid: "10001"
                            group_country: "uk"
                            sectionid: "45001"
                            sectionname: "Beavers"
                            section: "beavers"
                            isDefault: "0"
                            permissions:
                              badge: 20
                              member: 20
                              user: 100
                              register: 20
                              programme: 20
                              events: 20
                              flexi: 20
                              finance: 100
                              quartermaster: 20
                            sectionConfig:
                              subscription_level: 3
                              subscription_expires: "2027-01-01"
                              section_type: "beavers"
                              sectionType: "beavers"
                              parentSectionId: "0"
                              subscription_active: false
                              meeting_day: "Mon"
                              hierarchy_lowest_level: false
                              hierarchy_operating_level: "level_0"
                          - groupname: "Example Scout Group"
                            groupid: "10001"
                            group_country: "uk"
                            sectionid: "45002"
                            sectionname: "Cubs"
                            section: "cubs"
                            isDefault: "1"
                            permissions:
                              badge: 20
                              member: 20
                              user: "100"
                              register: 20
                              programme: 20
                              events: 20
                              flexi: 20
                              quartermaster: 20
                              finance: 100
                            sectionConfig:
                              subscription_level: 3
                              subscription_expires: "2027-01-01"
                              section_type: "cubs"
                              sectionType: "cubs"
                              parentSectionId: "0"
                              subscription_active: false
                              meeting_day: "Wed"
                              hierarchy_lowest_level: false
                              hierarchy_operating_level: "level_0"
                          - groupname: "Example Scout Group"
                            groupid: "10001"
                            group_country: "uk"
                            sectionid: "45003"
                            sectionname: "Leaders"
                            section: "adults"
                            isDefault: "0"
                            permissions:
                              badge: 100
                              member: 100
                              user: 100
                              register: 100
                              contact: 100
                              programme: 100
                              events: 100
                              finance: 100
                              flexi: 100
                              quartermaster: 100
                            sectionConfig:
                              subscription_level: 1
                              subscription_expires: "2027-01-01"
                              section_type: "adults"
                              sectionType: "adults"
                              parentSectionId: "0"
                              subscription_active: false
                              hierarchy_lowest_level: false
                              hierarchy_operating_level: "level_0"
                        active_user_member: false
                        associated_member_id: false
                        email: "leader@example.org"
                        firstname: "Alex"
                        lastname: "Scout"
                        fullname: "Alex Scout"
                        preferences:
                          logins: "100"
                          theme: "blue"
                          date: "uk"
                          sort: "dob"
                          has_assistive_technology: false
                          hotkeys_enabled: false
                          disable_animations: false
                          beta: false
                          beta_functions: []
                        member_access:
                          "45002":
                            name: "Example Scout Group: Cubs"
                            group: "Example Scout Group"
                            section: "Cubs"
                            abbrv: "Cubs"
                            type: "cubs"
                            label: "Cubs"
                            members:
                              "2100001":
                                first_name: "Alex"
                                last_name: "Scout"
                                photo_guid: "00000000-0000-0000-0000-000000000000"
                                abbrv_name: "Alex"
                                chat_rooms: []
                                access_type: "member"
                                has_unread_chat_rooms: false
                                permissions: true
                                patrol: "Leaders"
                            access: true
                            config:
                              badges: true
                              programme: true
                              emailbolton: true
                              details: true
                              events: true
                              chat: false
                              at_home: false
                              email_address: "Example Scout Group Cubs <cubs@example.org>"
                              giftaid: true
                              payments: true
                              attachments: false
                              photos: true
                            noticeboard: false
                            patrol_label: "Six"
                        member_access_unactivated: false
                        terms:
                          "45002":
                            - termid: "200001"
                              sectionid: "45002"
                              name: "Summer 2025"
                              startdate: "2025-04-01"
                              enddate: "2025-07-31"
                              master_term: null
                              past: true
                            - termid: "200002"
                              sectionid: "45002"
                              name: "Autumn 2025"
                              startdate: "2025-09-01"
                              enddate: "2025-12-31"
                              master_term: null
                              past: false
                        global_roles: []
                        hasSectionAccess: true
                        notepads: []
                        sockets: "45001-abc123,45002-abc123,45003-abc123"
                        user_socket: "100001-abc123"
                        session_id: "abc123def456abc123def456abc123def456abc123def456abc123def456abc1"
                        security_prompt: false
                        user_has_image: "/sites/onlinescoutmanager.co.uk/public/user_photos/100000/100001/00000000-0000-0000-0000-000000000000"
                        user_hash: "abc123def456abc123def456abc123def456abc123def456abc123def456abc1"
                        user_hash_legacy: "abc123def456abc123def456abc123def456abc123def456abc123def456abc1"
                        language: "en-GB"
                        gamification:
                          "1":
                            total_steps: 3
                            steps_completed: 2
                            id: 1
                          events:
                            total_steps: 10
                            steps_completed: 7
                            id: 2
                        gamification_rank: 500
                        gamification_total: 100000
                        features_used:
                          - "accessed"
                          - "viewed events"
                          - "edited attendance register"
                          - "sent email"
                        unread_message_count: 0
                        client_time: "1700000000000"
                      dojo:
                        cacheBust: "v=abc123"
                        locale: "en-gb"
                    meta: []
                getConfigPayload:
                  summary: Response for action=getConfigPayload
                  value:
                    status: true
                    error: null
                    data:
                      site_type: "scouts"
                      site_folder: "sites/onlinescoutmanager.co.uk/site"
                      siteConfig:
                        disableParentRota: false
                        expense_cards:
                          fees:
                            card_issuing: 10
                            lost_dispute: 20
                            fx_percentage: 3
                            cross_border:
                              percentage: 2
                              fixed: 0.3
                          maximum_overdrawn_charges: 10
                        online_payment_gateways:
                          - "gocardless"
                          - "stripe"
                        beta:
                          - key: "recipes"
                            title: "Recipes & Event Menus"
                            description: "Community driven recipe database with instructions for young people."
                            role: "all"
                            release_ts: 1638205905
                          - key: "waiting_list_invites"
                            title: "Waiting List Invites"
                            description: "Adds survey and invitation features to waiting list Personal Details."
                            role: "all"
                            release_ts: 1772443731
                            feedback:
                              min_usage: 1
                              mode: "new"
                              feature: "waiting list survey or invitation"
                          - key: "scheduled_emails"
                            title: "Scheduled Emails"
                            description: "Adds a Send later option when composing emails to members."
                            role: "all"
                            release_ts: 1779355830
                            feedback:
                              min_usage: 3
                              mode: "new"
                              feature: "scheduled email"
                          - key: "back_button"
                            title: "Browser's Back Button"
                            description: "Browser back button now closes dialogs and navigates between tabs."
                            role: "all"
                            release_ts: 1782137873
                            feedback:
                              min_days: 14
                              mode: "new"
                        boltons:
                          b: "badges"
                          c: "campsiteexternalbookings"
                          d: "details"
                          e: "events"
                          m: "emailbolton"
                          p: "programme"
                          a: "accounts"
                          f: "filestorage"
                          r: "chat"
                          i: "ai"
                          t: "tasks"
                          h: "at_home"
                        hasOnlinePayments: true
                        upgrade_config:
                          badges:
                            price: 1
                          events:
                            price: 10
                          ai:
                            price: 7.5
                          programme:
                            price: 1
                          details:
                            price: 2.5
                          emailbolton:
                            price: 4.5
                          filestorage:
                            price: 5
                          silver:
                            price: 18
                          gold:
                            price: 24
                          campsiteexternalbookings:
                            price: 36
                          chat:
                            price: 2.5
                          at_home:
                            price: 10
                          accounts:
                            price: 20
                          tasks:
                            price: 2.5
                        sms_prices:
                          "250": 14.25
                          "500": 28
                          "1000": 55
                        hideSmsOriginator: false
                        filestorage_bolton: true
                        chat_bolton: true
                        whatsnew: true
                        risk_assessments: true
                        recipes:
                          meals: ["breakfast", "snack", "lunch", "dinner", "pudding", "drink"]
                          methods: ["stove", "oven", "fire", "dutch", "expedition", "no-cooking"]
                          suitability: ["vegetarian", "vegan", "gluten", "dairy", "nuts", "wheat", "fish", "shellfish", "egg", "oatmeal", "soya"]
                          allergies: ["meat", "animal", "gluten", "dairy", "nuts", "wheat", "fish", "shellfish", "egg", "oatmeal", "soya"]
                          aisles: ["dairy", "deli", "bakery", "vegetable", "fruit", "fish", "frozen", "meat", "canned", "condiments", "dried", "drink", "snack", "simple", "cereal", "cleaning", "other"]
                        hideMyPermissions: false
                        events_attachments_quota: 50
                        events_attachments_quota_private: -1
                        user_can_delete_section: true
                        add_invoices_to_events: false
                        hide_user_active_subscriptions: false
                        user_can_rename_self: true
                        members_discoverable: false
                        event_approvals_config:
                          assign: false
                        events_force_allow_changes: "configurable"
                        events_prevent_deadline_change: false
                        hide_age_after: 25
                        hq_terms: false
                        default_currency: "GBP"
                        ask_communication_preferences: false
                        email_list_domain: "lists.onlinescoutmanager.co.uk"
                        waiting_list_application: ["contact_primary_1", "contact_primary_2"]
                        myscout: "Parent Portal"
                        communicatable_emails_use_opt_ins: []
                        allowFutureJoinedMovement: false
                        joinedMovementOptional: false
                        hideExternalAccess: false
                        support_network: false
                        support_network_personal: false
                        support_network_disabled_section_types: []
                        event_shared_member_record_cards: false
                        language: "en-GB"
                        available_languages:
                          en-GB: "English (British)"
                        disable_patrol_points: false
                        disable_help_videos: false
                        file_proxy: "https://files.onlineyouthmanager.co.uk/"
                        cdn: "oymcdn.co.uk"
                        global_cdn: "oymcdn.co.uk"
                        hide_upgrades: false
                        root_url: "https://www.onlinescoutmanager.co.uk"
                        url_www: "www.onlinescoutmanager.co.uk"
                        fullname: "Online Scout Manager"
                        myscout_email: "myscout@onlinescoutmanager.co.uk"
                        section_types:
                          uk:
                            earlyyears: "Squirrels"
                            beavers: "Beavers"
                            cubs: "Cubs"
                            scouts: "Scouts"
                            explorers: "Explorers"
                            network: "Network"
                            adults: "Adults"
                          navigators:
                            juniornavigators: "Juniors"
                            seniornavigators: "Seniors"
                          au:
                            ausscouts: "Scouts"
                            aucubs: "Cubs"
                            aujoeys: "Joeys"
                        badge_types:
                          uk: ["challenge", "staged", "core", "activity"]
                          au: ["activity", "challenge"]
                        adult_section_types: ["adults"]
                        adult_section_types_emailable: ["adults"]
                        youth_section_types: ["earlyyears", "beavers", "cubs", "scouts", "explorers", "network", "juniornavigators", "seniornavigators", "aujoeys", "aucubs", "ausscouts", "campsite"]
                        free_sections: ["adults", "waiting", "campsite", "national"]
                        abbr: "osm"
                        facebookpage: "onlinescoutmanager"
                        personaldetails_configurable: true
                        colour_primary: "4d2177"
                        colour_secondary: "84a40b"
                        colour_tertiary: "8b0066"
                        default_currency_symbol: "£"
                        communicatable_contact_groups:
                          default:
                            contact_primary_1: "Primary Contact 1"
                            contact_primary_2: "Primary Contact 2"
                            contact_primary_member: "Member"
                          campsite:
                            contact_primary_campsite: "Customer"
                        section_type_setup:
                          beavers:
                            ai_risk_activities: true
                            programme: true
                            events: true
                            flexi: true
                            quartermaster: true
                            attendance: true
                            finances: true
                            giftaid: true
                            patrols: true
                            subscription: true
                            badgeMenu: true
                            isScout: true
                            showStartedSection: true
                            isDOBNeeded: true
                            isWaiting: false
                            isAdult: false
                            useTerms: true
                            showDetails: true
                            campDirectory: true
                            census: true
                            allowSMS: true
                            showCountry: true
                            myscout: true
                            onlinepayments: true
                            waitingListType: "waiting"
                            badgeTitle: "Badges"
                            showSectionSizePredictor: true
                            showBadgesByPerson: true
                            sectionSizePredictor:
                              earlyyears: 2190
                              beavers: 2920
                              cubs: 3832
                              scouts: 5110
                              explorers: 6570
                              network: 9125
                            section_colours_ages:
                              earlyyears: ["#ca1a10", 4, 6]
                              beavers: ["#0099FF", 6, 8]
                              cubs: ["#33CC00", 8, 10.5]
                              scouts: ["#006666", 10.5, 14]
                              explorers: ["#999966", 14, 18]
                              network: ["#4d2177", 18, 25]
                              waiting: ["#999999", -1, -1]
                            fileStorage: true
                            badgeStock: true
                            badges:
                              challenge:
                                type: "challenge"
                                singular: "Challenge"
                                menu: "Challenge"
                                title: "Challenge Badges"
                                type_id: 1
                              activity:
                                type: "activity"
                                singular: "Activity"
                                menu: "Activity"
                                title: "Activity Badges"
                                type_id: 2
                              staged:
                                type: "staged"
                                singular: "Staged"
                                menu: "Staged"
                                title: "Staged Badges"
                                type_id: 3
                              core:
                                type: "core"
                                singular: "Core"
                                menu: "Core"
                                title: "Core Badges"
                                type_id: 4
                            audit_trail:
                              member:
                                note_types: ["notes", "received-email", "received-phonecall", "received-letter", "sent-email", "sent-phonecall", "sent-letter"]
                              section:
                                note_types: ["notes"]
                            showParentPortalLoginHistory: true
                            hasYoungLeadersPatrol: true
                            hideUpgrades: false
                          adults:
                            programme: true
                            events: true
                            flexi: true
                            quartermaster: true
                            giftaid: true
                            attendance: false
                            finances: true
                            badgeTitle: "Records"
                            subscription: false
                            badgeMenu: false
                            isDOBNeeded: false
                            isScout: false
                            showStartedSection: true
                            isAdult: true
                            myscout: true
                            patrols: true
                            isWaiting: false
                            showDetails: true
                            useTerms: true
                            waitingListType: "waiting"
                            allowSMS: true
                            showYouthBadgeLinks: false
                            showCountry: true
                            census: true
                            onlinepayments: true
                            fileStorage: true
                            badges:
                              challenge:
                                type: "challenge"
                                singular: "Records"
                                menu: "Records"
                                title: "Records"
                                type_id: 1
                            audit_trail:
                              member:
                                note_types: ["notes", "received-email", "received-phonecall", "received-letter", "sent-email", "sent-phonecall", "sent-letter"]
                              section:
                                note_types: ["notes"]
                            showParentPortalLoginHistory: true
                            excludeFromHierarchy: true
                            hideUpgrades: false
                          waiting:
                            programme: false
                            events: false
                            flexi: true
                            attendance: false
                            patrols: false
                            finances: false
                            subscription: false
                            badgeMenu: false
                            isScout: false
                            showStartedSection: false
                            isDOBNeeded: true
                            showSectionSizePredictor: true
                            isAdult: false
                            isWaiting: true
                            showDetails: true
                            useTerms: false
                            allowSMS: true
                            waitingListType: "waiting"
                            showYouthBadgeLinks: false
                            badges: []
                            audit_trail:
                              member:
                                note_types: ["notes", "received-email", "received-phonecall", "received-letter", "sent-email", "sent-phonecall", "sent-letter"]
                              section:
                                note_types: ["notes"]
                            showParentPortalLoginHistory: true
                            excludeFromHierarchy: true
                            hideUpgrades: false
                          discount:
                            programme: false
                            events: false
                            flexi: false
                            attendance: false
                            finances: false
                            subscription: false
                            badgeMenu: false
                            isScout: false
                            showStartedSection: false
                            isDOBNeeded: false
                            isAdult: false
                            isWaiting: false
                            isDiscount: true
                            hideForum: true
                            useTerms: false
                            allowSMS: false
                            hideUpgrades: true
                            showDetails: false
                            badges: []
                            audit_trail:
                              member:
                                note_types: ["notes", "received-email", "received-phonecall", "received-letter", "sent-email", "sent-phonecall", "sent-letter"]
                              section:
                                note_types: ["notes"]
                            showParentPortalLoginHistory: false
                            excludeFromHierarchy: true
                            disableOffline: true
                        buy_links:
                          due_badge_bags: "https://example.com/due-badge-bags"
                        feature_preview: []
                        risk_assessments_config:
                          mode: "freeform"
                          reuse_programme: true
                          reuse_events: true
                          residual_risk: false
                          who: true
                          has_generic_events: true
                          has_activities: true
                        tld: "onlinescoutmanager.co.uk"
                        accounting: true
                        accounting_expense_cards: true
                        activity_database: true
                        ai: true
                        api_manage_hq: false
                        badge_homework: true
                        badge_show_completion_certificate: false
                        badge_wizard: true
                        campaign_template_designs: ["purpleandgreen", "lightblue", "darkblue", "turquoise", "purpleandpink", "purple", "default", "blank"]
                        deletable_users: true
                        duplicate_member_checks: false
                        elearning_editor: false
                        elearning_viewer: false
                        email_from_reports: []
                        email_signatures: true
                        email_template_colours: ["#ffffff", "#000000", "#ffcd00", "#ff8200", "#ba0c2f", "#7C3A2D", "#AD1AAC", "#7413dc", "#4d2177", "#003DA5", "#002855", "#0095C8", "#004851", "#00594F", "#00a794", "#009A44", "#84A40B", "#8C857B"]
                        event_directions: true
                        event_duplicate: true
                        event_types_single_select: false
                        events_additional_information: []
                        events_approvals: false
                        events_at_home: true
                        events_parent_rota: true
                        events_past_read_only: false
                        events_personal_details_confirmation_restriction: "standard_fields:confirmation:24267"
                        events_summary_approval_status_highlights: []
                        events_v2: true
                        group_badges: true
                        group_dashboard: true
                        hasJoinedMovement: true
                        has_main_section_per_person: false
                        help_websites: false
                        hierarchy_sms: false
                        hq_support: false
                        kill:
                          built_files: false
                          built_files_admin: false
                          cdn: false
                          cdn_admin: false
                          extralogging: false
                          extralogging_admin: false
                          gilbert: false
                          gilbert_admin: false
                          gilbert_bedrock: false
                          gilbert_bedrock_admin: false
                          gilbert_support: false
                          gilbert_support_admin: false
                          gocardless: false
                          gocardless_admin: false
                          intrusiondetection: false
                          intrusiondetection_admin: false
                          offlinedata: false
                          offlinedata_admin: false
                          proxysql: false
                          proxysql_admin: false
                          sms: false
                          sms_admin: false
                        kit_lists: true
                        leader_parent_portal_file_storage_without_upgrade: false
                        lockdown_email_from_address: false
                        member_deletion_review: true
                        member_elsewhere_review: false
                        member_erase_extra_data: ["badge", "events", "register", "finance"]
                        member_removal_warn_if_active: false
                        member_view_email_history: false
                        member_view_own_badge_details: false
                        members_users_linked: false
                        members_users_linked_edit: false
                        mymember_access_restrictions: "section"
                        national_opt_in_or_out: false
                        national_opt_in_or_out_sms: false
                        national_parent_portal_file_storage: false
                        organisation_import: false
                        parent_portal_auto_join: "opt-in"
                        parent_portal_date_of_birth_custom_data_group: "standard_fields"
                        parent_portal_thank_you_messages: true
                        prevent_import_spreadsheet: false
                        prevent_leader_edit_portal_templates: false
                        programme_primary_leader: true
                        programmes_at_home: true
                        purge_event_audit_trail: 3
                        remove_member_allowed_functions:
                          default: ["keepname", "keepcontact", "keepall", "delete", "erase"]
                        require_global_role_inactive_searches: false
                        schedule_emails: true
                        section_edit_details: false
                        section_edit_details_mode: "all_sections"
                        section_editable_locations: false
                        section_requires_two_admins: true
                        shared_events_opt_in_email: true
                        showCommentsOnAllDashboards: false
                        show_additional_roles_dates_comments: false
                        show_community_help_forum: true
                        show_feature_requests: true
                        summary_dashboards: false
                        to_do_tasks: true
                        urgent_event_approvals: -1
                      patrolLabels:
                        scouts:
                          patrol: "Patrol"
                          patrols: "Patrols"
                        cubs:
                          patrol: "Six"
                          patrols: "Sixes"
                        beavers:
                          patrol: "Lodge"
                          patrols: "Lodges"
                        explorers:
                          patrol: "Patrol"
                          patrols: "Patrols"
                        network:
                          patrol: "Patrol"
                          patrols: "Patrols"
                        adults:
                          patrol: "Section / Role"
                          patrols: "Sections"
                        earlyyears:
                          patrol: "Nest"
                          patrols: "Nests"
                        juniornavigators:
                          patrol: "Team"
                          patrols: "Teams"
                        seniornavigators:
                          patrol: "Team"
                          patrols: "Teams"
                        aucubs:
                          patrol: "Six"
                          patrols: "Sixes"
                      patrolRoles:
                        scouts:
                          - level: 0
                            label: "Normal"
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 1
                            label: "Assistant Patrol Leader"
                            abbr: "APL"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 2
                            label: "Patrol Leader"
                            abbr: "PL"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 3
                            label: "Senior Patrol Leader"
                            abbr: "SPL"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                        cubs:
                          - level: 0
                            label: "Normal"
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 1
                            label: "Seconder"
                            abbr: "2nd"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 2
                            label: "Sixer"
                            abbr: "6er"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 3
                            label: "Senior Sixer"
                            abbr: "S6er"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                        beavers:
                          - level: 0
                            label: "Normal"
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 1
                            label: "Assistant Lodge Leader"
                            abbr: "ALL"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 2
                            label: "Lodge Leader"
                            abbr: "LL"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 3
                            label: "Senior Lodge Leader"
                            abbr: "SLL"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                        explorers:
                          - level: 0
                            label: "Normal"
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 1
                            label: "Assistant Patrol Leader"
                            abbr: "APL"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 2
                            label: "Patrol Leader"
                            abbr: "PL"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 3
                            label: "Senior Patrol Leader"
                            abbr: "SPL"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                        earlyyears:
                          - level: 0
                            label: "Normal"
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                        adults:
                          "0":
                            level: 0
                            label: "Unspecified"
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          "1":
                            level: 1
                            label: "Section Team Member"
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          "2":
                            level: 2
                            label: "Section Team Leader"
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          "3":
                            level: 3
                            label: "Young Leader"
                            abbr: "YL"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          "6":
                            level: 6
                            label: "Group Lead Volunteer"
                            abbr: "GLV"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          "7":
                            level: 7
                            label: "Chair"
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          "8":
                            level: 8
                            label: "Treasurer"
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          "9":
                            level: 9
                            label: "Secretary"
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          "15":
                            level: 15
                            label: "Trustee"
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                      extraSectionTypes:
                        staged: "n/a"
                        adults: "Adults"
                        aucubs: "Australian Cubs"
                        zadventure: "Adventure"
                        campsite: "Campsite"
                        national: "National Office"
                      featurelevels:
                        addbadge: 3
                        badgeeligibility: 3
                        badge_records: 1
                        badgepdf: 3
                        badgespreadsheet: 3
                        calendarsync: 3
                        census: 3
                        eventdownload: 3
                        events: 2
                        eventsharing: 2
                        exportemail: 2
                        exportpatrolpdf: 3
                        extrapdf: 3
                        extras: 2
                        filestorage: 3
                        finances: 3
                        genericpdf: 3
                        giftaid: 3
                        helloworld: 99
                        ics: 3
                        intouchpdf: 2
                        mobile: 2
                        outstanding: 2
                        printoutstanding: 3
                        programmepdf: 3
                        quartermaster: 3
                        recordcard: 3
                        register: 2
                        registerpdf: 3
                        reporting: 1
                        sendemail: 2
                        sharebadgestock: 3
                        showprogrammeinbadgerecords: 3
                        spreadsheet: 3
                        survey: 3
                        recipes: 3
                        risk_assessments: 3
                        badgewizard: 3
                        activity: 2
                        badgestock: 1
                        programme: 1
                        accidentforms: 3
                      changedlevels: []
                      availableRoles:
                        nobody: "Nobody"
                        siteadministrator: "OSM Site Administrator"
                      globalAccessRoles:
                        - user_role: "siteadministrator"
                          access_type: "kill_switches"
                          id: "n/a"
                        - user_role: "_support"
                          access_type: "audit_member_support"
                          id: "*"
                        - user_role: "_support"
                          access_type: "grant_access"
                          id: "*"
                        - user_role: "_all"
                          access_type: "preview_badge_wizard"
                          id: "n/a"
                        - user_role: "badge_orders"
                          access_type: "online_badge_order"
                          id: "*"
                      terminology:
                        Level_1: "Group"
                        Level_2: "District"
                        Level_3: "County"
                        Level_4: "Region/Area"
                        Level_5: "Country"
                        Level_6: "Association"
                      forms:
                        - name: "Accident Forms"
                          menu_config:
                            - reference: "ext.members.health"
                              menu: "members"
                              area: "members"
                              offline: false
                              order: 10
                              subscription_feature: "accidentforms"
                              title: "Accident Forms"
                              title_is_translated: true
                              react: "ext_forms_FormListPane"
                        - name: "Medication History"
                          menu_config:
                            - reference: "ext.members.medication"
                              menu: "members"
                              area: "members"
                              offline: false
                              order: 11
                              subscription_feature: "accidentforms"
                              title: "Medication History"
                              title_is_translated: true
                              react: "ext_forms_FormListPane"
                        - name: "Incident Logs"
                          menu_config:
                            - reference: "ext.members.incidents"
                              menu: "members"
                              area: "members"
                              offline: false
                              order: 15
                              subscription_feature: "accidentforms"
                              title: "Incident Logs"
                              title_is_translated: true
                              react: "ext_forms_FormListPane"
                        - name: "Entrepreneur Fund"
                          menu_config:
                            - reference: "ext.forms.entrepreneur"
                              menu: "sectionadmin"
                              area: "grants"
                              offline: false
                              order: 1000
                              subscription_feature: "accidentforms"
                              title: "Entrepreneur Fund"
                              title_is_translated: true
                              react: "ext_forms_FormListPane"
                      default_terminology:
                        section: "section"
                        sections: "sections"
                        Section: "Section"
                        Sections: "Sections"
                        Group: "Group"
                        group: "group"
                        District: "District"
                        Level_1: "Group"
                        Level_2: "District"
                        Level_3: "Area"
                        Level_4: "Country"
                        Level_5: ""
                        Level_6: ""
                      leaderPatrolIds:
                        - -2
                        - -3
                    meta: []
        "410":
          description: |
            Gone — `action=getData` has been permanently removed. HTTP 410 Gone is
            the only reply you will ever receive for that action.
  /ext/members/contact/:
    get:
      summary: Get list of members or individual member details
      tags:
        - Members
      description: |
        Retrieves member data. The `action` parameter controls the behavior.
        This endpoint is also used to return full member contact/emergency data
        (use with care for GDPR compliance).
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getListOfMembers, getIndividual, getMemberTransfers ]
        - name: sectionid
          in: query
          required: false
          schema:
            type: string
          description: Section ID.
        - name: termid
          in: query
          required: false
          schema:
            type: string
          description: Term ID.
        - name: section
          in: query
          required: false
          schema:
            type: string
            enum: [ squirrels, beavers, cubs, scouts, explorers ]
          description: Section type.
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [ dob, firstname, lastname, patrol ]
          description: Sort order for list of members.
        - name: scoutid
          in: query
          required: false
          schema:
            type: string
          description: Member unique identifier.
        - name: context
          in: query
          required: false
          schema:
            type: string
            enum: [ members ]
          description: Context for member detail retrieval.
        - name: mode
          in: query
          required: false
          schema:
            type: string
          description: Display mode (observed value `grid`).
        - name: section_id
          in: query
          required: false
          schema:
            type: string
          description: Section ID (alternate naming).
      responses:
        "200":
          description: Member data response.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/MembersList"
                  - $ref: "#/components/schemas/MemberDetail"
                  - $ref: "#/components/schemas/MemberTransfers"
                additionalProperties: true
              examples:
                membersList:
                  summary: Members list
                  value:
                    identifier: scoutid
                    photos: true
                    items:
                      - firstname: Jamie
                        lastname: River
                        photo_guid: "00000000-0000-0000-0000-000000000000"
                        patrolid: 12001
                        patrol: Blue
                        sectionid: 45001
                        enddate: null
                        age: "10 / 2"
                        patrol_role_level_label: Sixer
                        active: true
                        scoutid: 3100001
                        full_name: "Jamie River"
                memberDetail:
                  summary: Member detail
                  value:
                    ok: true
                    read_only: [ ]
                    data:
                      scoutid: "3100001"
                      firstname: Jamie
                      lastname: River
                      dob: "2015-04-22"
                      started: "2021-09-01"
                      sectionid: 45001
                      active: true
                    meta: [ ]
                memberTransfers:
                  summary: Member transfers
                  value:
                    status: true
                    error: null
                    data:
                      - direction: from
                        member_id: 3100002
                        firstname: Riley
                        lastname: Park
                        photo_guid: "00000000-0000-0000-0000-000000000000"
                        type: transferred
                        date: "2024-01-15"
                        section_id: 65001
                        section_name:
                          group: "1st Riverside Scouts"
                          section: Scouts
                        section_long: "1st Riverside Scouts: Scouts"
                        mode: outgoing
                        id: "outgoing-123456"
                    meta: [ ]
    post:
      summary: Update a member field or contact details
      tags:
        - Members
      description: |
        Updates a single field on a member record, or updates contact details
        for one of their linked contacts. The `action` query parameter must be
        `update`. The body is sent as `application/x-www-form-urlencoded`.

        **Member field mode** — send `scoutid`, `column`, `value`, `sectionid`,
        `context=members`. Known columns:

        | Column          | Value format | Notes |
        |-----------------|-------------|-------|
        | `firstname`     | string | |
        | `lastname`      | string | |
        | `dob`           | `yyyy-mm-dd` | |
        | `started`       | `yyyy-mm-dd` | Date started Scouting. |
        | `startedsection`| `yyyy-mm-dd` | Date started this section. |
        | `patrolid`      | int | Must also provide `patrolleader` in the same request body. |
        | `patrolleader`  | int | 0 = no rank, 1 = APL/Seconder, 2 = PL/Sixer, 3 = SPL/Senior Sixer. |

        When setting `patrolid`, the body **must also include** `patrolleader`
        (the rank level integer). Conversely, `patrolleader` can be set on its
        own as `column` without changing the patrol.

        **Contact update mode** — send `associated_type=member`,
        `associated_id=<scoutid>`, `group_id=<contact_group>`, `context=members`,
        and `data[field]=value` pairs for each field. Contact group IDs:

        | group_id | Contact |
        |----------|---------|
        | 1 | Primary Contact 1 |
        | 2 | Primary Contact 2 |
        | 3 | Emergency Contact |
        | 4 | Doctor's Surgery |
        | 6 | Member's own details |
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ update ]
          description: Must be `update`.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: true
              properties:
                scoutid:
                  type: integer
                  description: Member unique identifier (member field mode).
                column:
                  type: string
                  enum: [ firstname, lastname, dob, started, startedsection, patrolid, patrolleader ]
                  description: The field to update (member field mode).
                value:
                  oneOf:
                    - type: integer
                    - type: string
                  description: The new value.
                sectionid:
                  type: string
                  description: Section ID the member belongs to.
                context:
                  type: string
                  enum: [ members ]
                  description: Must be `members`.
                patrolleader:
                  type: integer
                  description: |
                    Required when `column=patrolid`. Rank level:
                    0 = none, 1 = APL/Seconder, 2 = PL/Sixer, 3 = SPL/Senior Sixer.
                associated_type:
                  type: string
                  enum: [ member ]
                  description: Contact update mode — must be `member`.
                associated_id:
                  type: integer
                  description: Contact update mode — the member's scoutid.
                group_id:
                  type: integer
                  enum: [ 1, 2, 3, 4, 6 ]
                  description: Contact update mode — contact group ID.
            examples:
              memberFieldUpdate:
                summary: Update a member field (e.g. patrol)
                value:
                  scoutid: 3100001
                  column: patrolid
                  value: "12002"
                  sectionid: "45001"
                  context: members
                  patrolleader: 0
              contactUpdate:
                summary: Update a contact's details
                value:
                  associated_type: member
                  associated_id: "3100001"
                  group_id: "1"
                  context: members
                  "data[firstname]": "Sarah"
                  "data[lastname]": "River"
                  "data[email1]": "sarah.river@example.org"
                  "data[phone1]": "07700900123"
                  "data[phone1_sms]": "yes"
      responses:
        "200":
          description: Update confirmation with last-updated metadata.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  meta:
                    type: object
                    properties:
                      last_updated:
                        type: string
                        description: Timestamp of the update (e.g. `2025-09-15 19:42:10`).
                      last_updated_by_name:
                        type: string
                        description: Name of the user who made the update.
                additionalProperties: true
              example:
                ok: true
                meta:
                  last_updated: "2025-09-15 19:42:10"
                  last_updated_by_name: "Alex Scout"
  /ext/members/contact/actions/:
    post:
      summary: Create, remove, or restore a member
      tags:
        - Members
      description: |
        Member lifecycle actions. The `action` query parameter controls the
        behaviour. Body is `application/x-www-form-urlencoded`.

        **`newMember`** — creates a new member in the section.

        **`removeMember`** — removes a member from the section. The `type`
        field controls how much data is retained:

        | type | Effect |
        |------|--------|
        | `keepall` | Keep all data intact |
        | `keepcontact` | Remove personal details except name and core details |
        | `keepname` | Remove personal details except name |
        | `delete` | Remove all personal details; use initials for names (member history retains names) |
        | `erase` | Remove all personal details **including** names from history. **Irreversible.** |

        When `type=erase`, an optional `additional_data_to_delete` array can
        specify extra data categories to purge: `badge`, `events`, `finance`,
        `register`. Each is optional.

        **`returnMember`** — restores a previously removed member.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ newMember, removeMember, returnMember ]
        - name: sectionid
          in: query
          required: false
          schema:
            type: string
          description: Section ID (required for `removeMember`).
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: true
              properties:
                firstname:
                  type: string
                  description: "`newMember` only. First name."
                lastname:
                  type: string
                  description: "`newMember` only. Last name."
                dob:
                  type: string
                  format: date
                  description: "`newMember` only. Date of birth (`yyyy-mm-dd`)."
                startedsection:
                  type: string
                  format: date
                  description: "`newMember` only. Date started in this section."
                started:
                  type: string
                  format: date
                  description: "`newMember` only. Date started Scouting."
                sectionid:
                  type: string
                  description: Section ID.
                originating_section_id:
                  type: string
                  description: "`newMember` only. Usually same as `sectionid`."
                term_id:
                  type: string
                  description: "`newMember` only. Term ID."
                scouts:
                  type: integer
                  description: "`removeMember` / `returnMember`. Member scout ID."
                from_section:
                  type: string
                  description: "`removeMember` only. Section ID to remove from."
                date:
                  type: string
                  format: date
                  description: "`removeMember` only. Effective removal date (`yyyy-mm-dd`)."
                type:
                  type: string
                  enum: [ keepall, keepcontact, keepname, delete, erase ]
                  description: "`removeMember` only. Data retention level."
                additional_data_to_delete:
                  type: array
                  items:
                    type: string
                    enum: [ badge, events, finance, register ]
                  description: "`removeMember` with `type=erase` only. Extra data to purge."
            examples:
              newMember:
                summary: Create a new member
                value:
                  firstname: Robin
                  lastname: Wells
                  dob: "2016-06-15"
                  startedsection: "2025-09-05"
                  started: "2025-09-06"
                  sectionid: "45001"
                  originating_section_id: "45001"
                  term_id: "67890"
              removeMember:
                summary: Remove a member (keep all data)
                value:
                  scouts: 3100005
                  from_section: "45001"
                  date: "2025-08-19"
                  type: keepall
              returnMember:
                summary: Restore a removed member
                value:
                  scouts: 3100005
      responses:
        "200":
          description: Action result.
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: "`newMember` response."
                    properties:
                      result:
                        type: string
                        enum: [ ok ]
                      out_of_term:
                        type: boolean
                        description: Whether the start date falls outside the given term.
                      scoutid:
                        type: integer
                        description: The newly assigned member ID.
                      firstname:
                        type: string
                      lastname:
                        type: string
                  - type: object
                    description: "`removeMember` / `returnMember` response."
                    properties:
                      ok:
                        type: boolean
                      scouts:
                        type: array
                        items:
                          type: integer
                        description: Scout IDs affected.
              examples:
                newMember:
                  summary: New member created
                  value:
                    result: ok
                    out_of_term: false
                    scoutid: 3100005
                    firstname: Robin
                    lastname: Wells
                removeMember:
                  summary: Member removed
                  value:
                    ok: true
                    scouts: [ 3100005 ]
                returnMember:
                  summary: Member restored
                  value:
                    ok: true
                    scouts: [ 3100005 ]
  /ext/badges/records/:
    get:
      summary: Get badge records or available badges
      tags:
        - Badges
      description: |
        Returns badge data. The `action` parameter controls the behavior:
        - `getBadgeRecords` — returns per-member completion records for a specific badge.
        - `getAvailableBadges` — returns the list of badges available for a section and type.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getBadgeRecords, getAvailableBadges ]
        - name: section
          in: query
          required: true
          schema:
            type: string
            enum: [ squirrels, beavers, cubs, scouts, explorers ]
          description: Section type.
        - name: section_id
          in: query
          required: true
          schema:
            type: string
          description: Section ID (used with `getAvailableBadges`).
        - name: sectionid
          in: query
          required: false
          schema:
            type: string
          description: Section ID (alternate naming, used with some actions).
        - name: term_id
          in: query
          required: true
          schema:
            type: string
          description: Term ID.
        - name: type_id
          in: query
          required: true
          schema:
            type: string
            enum: [ "1", "2", "3", "4" ]
          description: |
            Badge type ID.
            1 = Challenge, 2 = Activity, 3 = Staged, 4 = Core.
        - name: badge_id
          in: query
          required: false
          schema:
            type: string
          description: Badge ID (required for `getBadgeRecords`).
        - name: badge_version
          in: query
          required: false
          schema:
            type: string
          description: Badge version (required for `getBadgeRecords`).
        - name: payload
          in: query
          required: false
          schema:
            type: string
            enum: [ "1" ]
          description: Include full payload (observed value `1`).
        - name: context
          in: query
          required: false
          schema:
            type: string
            enum: [ none ]
          description: Context (observed value `none` for `getAvailableBadges`).
        - name: member_id
          in: query
          required: false
          schema:
            type: string
          description: Member ID filter (observed value `0` for all members).
      responses:
        "200":
          description: Badge records or available badges.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadgeRecordsResponse"
              examples:
                availableBadges:
                  summary: Available badges list
                  value:
                    status: true
                    error: null
                    data:
                      - badge_id: 1001
                        badge_version: 0
                        name: "Teamwork"
                        picture: "badges/teamwork.png"
                        type_id: 1
                        config: "{}"
                        has_stock: false
                    meta: [ ]
                badgeRecords:
                  summary: Badge records for a specific badge
                  value:
                    status: true
                    error: null
                    data:
                      - scoutid: 3100001
                        firstname: "Jamie"
                        lastname: "River"
                        completed: "1"
                        awarded: "1"
                        status: 1
                    meta: [ ]
  /ext/badges/badgesbyperson/:
    get:
      summary: Load badges grouped by member
      tags:
        - Badges
      description: |
        Returns badge progress grouped by member. Each member entry includes
        an array of their badge statuses across all badge types.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ loadBadgesByMember ]
          description: Must be `loadBadgesByMember`.
        - name: section
          in: query
          required: true
          schema:
            type: string
            enum: [ squirrels, beavers, cubs, scouts, explorers ]
          description: Section type.
        - name: sectionid
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
        - name: term_id
          in: query
          required: true
          schema:
            type: string
          description: Term ID.
      responses:
        "200":
          description: Badges by member.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadgesByMemberResponse"
              example:
                status: true
                error: null
                data:
                  - scoutid: 3100001
                    firstname: "Jamie"
                    lastname: "River"
                    patrol: "Blue"
                    active: true
                    badges:
                      - badge_id: 1001
                        badge_version: 0
                        completed: "1"
                        awarded: "1"
                        status: 1
                meta: [ ]
  /ext/members/email/:
    get:
      summary: Get selected contact emails
      tags:
        - Email
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getSelectedEmailsFromContacts ]
        - name: sectionid
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
      responses:
        "200":
          description: Selected emails for contacts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SelectedContactEmails"
              example:
                emails:
                  "2526072":
                    emails:
                      - "parent@example.org"
                      - "guardian@example.org"
                    firstname: "Jamie"
                    lastname: "River"
                    photo_guid: "00000000-0000-0000-0000-000000000000"
                    member_id: 2526072
                count: 2
                blocks: [ ]
                daily_limit_reached: false
    post:
      summary: Send an email template
      tags:
        - Email
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ sendTemplate ]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: true
            example:
              subject: "Weekly Meeting Reminder"
              sectionid: "45001"
              emails: "{\"2526072\":{\"firstname\":\"Jamie\",\"lastname\":\"River\",\"member_id\":2526072,\"emails\":[\"parent@example.org\"]}}"
              edits: "{\"0\":{\"0\":{\"text\":\"<p>Don't forget to bring your swimming kit this week!</p>\"}}}"
      responses:
        "200":
          description: Email send response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
              example:
                ok: true
  /ext/members/patrols/:
    get:
      summary: Get patrols with members
      tags:
        - Members
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getPatrolsWithPeople ]
        - name: sectionid
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
        - name: termid
          in: query
          required: true
          schema:
            type: string
          description: Term ID.
        - name: include_no_patrol
          in: query
          required: false
          schema:
            type: string
            enum: [ y, n ]
          description: Include pseudo-patrol for members not in a patrol.
      responses:
        "200":
          description: Patrol list keyed by patrol ID.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              example:
                "-2":
                  patrolid: "-2"
                  sectionid: "-2"
                  name: Leaders
                  active: "1"
                  points: "0"
                  census_costs: false
                  members: [ ]
                "12001":
                  patrolid: "12001"
                  sectionid: "45001"
                  name: Blue
                  active: "1"
                  points: "2"
                  census_costs: false
                  members:
                    - firstname: Jamie
                      lastname: River
                      scout_id: 3100001
                      photo_guid: "00000000-0000-0000-0000-000000000000"
                      patrolid: 12001
                      patrolleader: "0"
                      patrol: Blue
                      sectionid: 45001
                      enddate: null
                      age: "10 / 2"
                      patrol_role_level_label: Sixer
                      active: 1
                      scoutid: 3100001
                      editable: true
  /ext/members/census/:
    get:
      summary: Get census details
      tags:
        - Members
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getDetails ]
        - name: sectionid
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
        - name: termid
          in: query
          required: true
          schema:
            type: string
          description: Term ID.
      responses:
        "200":
          description: Census detail response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CensusDetails"
              example:
                identifier: scoutid
                items:
                  - scoutid: "3100003"
                    firstname: Sam
                    lastname: Lake
                    joined: "2022-03-01"
                    photo_guid: null
                    sex: ""
                    ethnicity: ""
                    disabilities: "Edit disabilities"
                    myscout: "Send Parent Portal email"
                    raw_disabilities: [ ]
                    _filterString: "sam lake"
  /ext/members/flexirecords/:
    get:
      summary: Get flexi-records
      tags:
        - Members
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getPatrolsWithPeople ]
        - name: sectionid
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
        - name: archived
          in: query
          required: false
          schema:
            type: string
            enum: [ y, n ]
          description: Toggle archived flexi-records.
      responses:
        "200":
          description: Flexi-record list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FlexiRecords"
              example:
                identifier: extraid
                label: name
                items:
                  - extraid: "23001"
                    name: "Hike Log"
  /ext/members/attendance/:
    get:
      summary: Get attendance data or badge requirements
      tags:
        - Attendance
      description: |
        Attendance endpoints share this path with different `action` values.
        Use `get` for attendance records or `getAttendanceBadgeRequirements`
        for badge requirements tied to a date.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ get, getAttendanceBadgeRequirements ]
        - name: sectionid
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
        - name: termid
          in: query
          required: false
          schema:
            type: string
          description: Term ID (required for `action=get`).
        - name: section
          in: query
          required: true
          schema:
            type: string
          description: Section type (e.g., `cubs`).
        - name: nototal
          in: query
          required: false
          schema:
            type: string
          description: Toggle total attendance column (observed `true`).
        - name: date
          in: query
          required: false
          schema:
            type: string
          description: Meeting date (required for `action=getAttendanceBadgeRequirements`).
      responses:
        "200":
          description: Attendance or badge requirement response.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/AttendanceList"
                  - $ref: "#/components/schemas/AttendanceBadgeRequirements"
                additionalProperties: true
              examples:
                attendanceList:
                  summary: Attendance list
                  value:
                    identifier: scoutid
                    label: name
                    items:
                      - "2025-01-07": "Yes"
                        total: 2
                        firstname: "Robert"
                        lastname: "Baden Powell"
                        patrolid: -2
                        active: true
                        scoutid: 2015779
                    meetings:
                      "2025-01-07": "Welcome Back!"
                badgeRequirements:
                  summary: Attendance badge requirements
                  value:
                    - badge_id: "1593"
                      badgeName: "Communicator"
                      column_id: "100542"
                      name: "Code"
                      meetingdate: "2025-01-14"
                      section: "cubs"
                      sectionid: 12345
    post:
      summary: Update attendance
      tags:
        - Attendance
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ update ]
        - name: sectionid
          in: query
          required: true
          schema:
            type: string
        - name: termid
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                scouts:
                  type: string
                  description: JSON array of member IDs.
                selectedDate:
                  type: string
                present:
                  type: string
                section:
                  type: string
                sectionid:
                  type: string
                completedBadges:
                  type: string
                  description: JSON array of badge data.
                customData:
                  type: string
                  description: JSON array of custom data updates.
              required: [ scouts, selectedDate, present, section, sectionid ]
              additionalProperties: true
            example:
              scouts: "[3008213]"
              selectedDate: "2025-01-14"
              present: "Absent"
              section: "cubs"
              sectionid: "12345"
              completedBadges: "[]"
              customData: "[]"
      responses:
        "200":
          description: Attendance update response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
  /ext/customdata/:
    get:
      summary: Get custom data for a member
      tags:
        - Custom Data
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getData ]
        - name: section_id
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
        - name: associated_id
          in: query
          required: true
          schema:
            type: string
          description: Member ID.
        - name: associated_type
          in: query
          required: true
          schema:
            type: string
            enum: [ member ]
        - name: associated_is_section
          in: query
          required: false
          schema:
            nullable: true
            type: string
          description: Section association flag (observed null).
        - name: varname_filter
          in: query
          required: false
          schema:
            nullable: true
            type: string
          description: Filter by variable name (observed null).
        - name: context
          in: query
          required: true
          schema:
            type: string
            enum: [ members ]
        - name: group_order
          in: query
          required: false
          schema:
            type: string
          description: Group ordering (observed "section").
      responses:
        "200":
          description: Custom data groups and columns.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomDataResponse"
              example:
                status: true
                error: null
                data:
                  - group_id: 7
                    group_type: "floating"
                    identifier: "floating"
                    name: "Other"
                    columns:
                      - column_id: 34
                        type: "select"
                        varname: "gender"
                        label: "Gender"
                        value: "Male"
                meta:
                  group_name: "1st Riverside Scouts"
                  section_name: "Cubs"
    post:
      summary: Update custom data for a member
      tags:
        - Custom Data
      description: |
        Updates custom data fields on a member. Two `action` values are supported:

        - `update` — bulk update using `data[field]=value` pairs (e.g. contact details).
        - `updateColumn` — update a single custom data column by `column_id`.

        Column IDs are section-specific. The only well-known core column is
        `column_id=34` for Gender (values: Male, Female, Self-identify,
        Prefer not to say, Other, Unspecified). Other column IDs vary per
        section — inspect HTTP traffic to discover them.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ update, updateColumn ]
        - name: section_id
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: true
              properties:
                associated_id:
                  type: string
                  description: Member scout ID.
                associated_type:
                  type: string
                  enum: [ member ]
                associated_is_section:
                  type: string
                  description: Section association flag (observed `false`).
                group_id:
                  type: string
                  description: |
                    Custom data group ID. For `update` action this matches
                    the contact group (1–6). For `updateColumn` this is the
                    custom data group containing the column.
                column_id:
                  type: integer
                  description: Column ID to update (`updateColumn` action only).
                value:
                  type: string
                  description: New value for the column (`updateColumn` action only).
                context:
                  type: string
                  enum: [ members ]
            examples:
              bulkUpdate:
                summary: Bulk update contact details (action=update)
                value:
                  associated_id: "3100003"
                  associated_type: "member"
                  group_id: "2"
                  context: "members"
                  service: "desktop"
                  "data[firstname]": "Helen"
                  "data[lastname]": "Park"
              updateColumn:
                summary: Update a single custom column (action=updateColumn)
                value:
                  associated_type: member
                  associated_id: "3100005"
                  associated_is_section: "false"
                  group_id: "7"
                  column_id: 34
                  value: "Male"
                  context: members
      responses:
        "200":
          description: Custom data update response.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/CustomDataUpdateResponse"
                  - $ref: "#/components/schemas/CustomDataColumnUpdateResponse"
              examples:
                bulkUpdate:
                  summary: Bulk update response
                  value:
                    status: true
                    error: null
                    data:
                      lastname: "Park"
                    meta:
                      last_updated:
                        last_updated: "2025-09-12 18:30:45"
                        last_updated_by_name: "Alex Scout"
                      updated:
                        lastname: "Last Name"
                columnUpdate:
                  summary: Column update response
                  value:
                    status: true
                    error: null
                    data:
                      column_id: 34
                      type: select
                      required: "no"
                      varname: gender
                      label: Gender
                      value: Male
                      is_core: "yes"
                      order: "12"
                    meta:
                      last_updated:
                        last_updated: "2025-09-15 19:43:22"
                        last_updated_by_name: "Alex Scout"
  /ext/audittrail/:
    post:
      summary: Get audit trail for a member
      tags:
        - Members
      description: |
        Returns the audit trail (change history) for a member. Despite being
        a POST, this is a read-only query — the body specifies which member
        to look up. The response contains a chronological list of changes
        including patrol moves, rank promotions, field edits, and section
        additions.

        Each entry has a `type` and `code` describing the kind of change:

        | type | code | Meaning |
        |------|------|---------|
        | `members` | `add` | Member added to section |
        | `details` | `field` | A member field was edited |
        | `details` | `new` | A new detail was added (e.g. consent) |
        | `patrols` | `add-to` | Member added to a patrol/six |
        | `patrol-leader` | `promoted` | Rank promotion or demotion |

        The `summary` field contains HTML with `<strong>` tags highlighting
        names, fields, and values.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getAuditTrail ]
          description: Must be `getAuditTrail`.
        - name: section_id
          in: query
          required: true
[...]
